
Online Help Desk/.vs/config/applicationhost.config
Online Help Desk/.vs/Online Help Desk/v15/.suo
Online Help Desk/.vs/Online Help Desk/v15/Server/sqlite3/storage.ide-shm
Online Help Desk/Online Help Desk/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Online Help Desk/Online Help Desk/obj/Debug/Online Help Desk.csproj.CoreCompileInputs.cache
