<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Index Admin</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />

</head>
<body>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>Perfect Technological Innovation</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#section1">Index</a></li>
                    <li><a href="#section1">Create Staff</a></li>
                    <li><a href="#section2">View Request List</a></li>
                    <li><a href="#section3">Change Password</a></li>
                </ul>

            </div>

            <div class="col-sm-9">
                <h3>Staff List</h3>
                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Level</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>staff001</td>
                                <td>Mr Staff</td>
                                <td>Level 2</td>
                                <td>Available</td>
                                <td><a href="#">Update</a></td>

                            </tr>
                            <tr>
                                <td>staff002</td>
                                <td>Mr Head</td>
                                <td>Level 1</td>
                                <td>Available</td>
                                <td><a href="#">Update</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <h3>End-User List</h3>
                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>student001</td>
                                <td>Mr Young Lady</td>
                                <td>eproject1@email.com</td>
                                <td>Available</td>
                                <td><a href="#">Details</a>||<a href="#">Update</a></td>

                            </tr>
                            <tr>
                                <td>student002</td>
                                <td>Mrs Young Man</td>
                                <td>eproject3@email.com</td>
                                <td>Available</td>
                                <td><a href="#">Details</a>||<a href="#">Update</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <p>Footer Text</p>
    </footer>

</body>
</html>

