<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Staff</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Perfect Technological Innovation</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Q&A</a></li>
            </ul>
        </div>
    </nav>

    <div id="dit" class="jumbotron">
        <div class="container text-center">
            <h1>Perfect Technological Innovation</h1>
            <div class="alert alert-danger">
                <strong>Danger!</strong> Website was developed for administrator. Please Leave if you are not administrator
            </div>
        </div>
    </div>

    <div class="container-fluid bg-3">

        <div class="row">
            <div class="col-md-1 col-sm-1">

            </div>
            <div class="col-md-9 col-sm-9">
                <div class="col-md-4 col-sm-4">
                    <ul class="nav nav-stacked nav-pills well">
                        <li class="active"><a data-toggle="pill" href="#home">About Facilities</a></li>
                        <li><a data-toggle="pill" href="#menu1">Dormitory</a></li>
                        <li><a data-toggle="pill" href="#menu2">Library</a></li>
                        <li><a data-toggle="pill" href="#menu3">Internet</a></li>
                        <li><a data-toggle="pill" href="#menu4">Stadium</a></li>
                        <li><a data-toggle="pill" href="#menu5">Gymnasiums</a></li>
                        <li><a data-toggle="pill" href="#menu6">Clinics</a></li>
                    </ul>
                    <div class="well">
                        <div class="panel panel-default text-left">
                            <div class="panel-heading">
                                <h4>New Facility was added!!</h4>
                            </div>
                            <img src="https://i.imgur.com/LqC8OeU.jpg" width="100%">
                        </div>


                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="tab-content">

                        <div id="home" class="tab-pane fade in active">
                            <div class="panel panel-default text-left">
                                <div class="panel-body">
                                    <h3>Facility</h3>

                                    <p>
                                        Facilities in the school - an important factor ensuring the requirements of improving the quality of training, scientific research - is regularly upgraded. The school has a system of classrooms, multi-functional classrooms equipped with machines; laboratory systems in some experimental departments are invested with modern machines to meet the requirements of study and scientific research of students and staff; modern libraries, practice workshops, pedagogic practice rooms, pedagogic practice facilities, stadiums, multipurpose gymnasiums, etc. to serve practical teaching and learning activities. The school also has a dormitory, medical station serving the needs of housing, living and health care for students
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="panel panel-default text-left">
                                <div class=panel-heading>
                                    <h3>Dormitory</h3>
                                </div>
                                <div class="panel-body">

                                    <p>
                                        The campus consists of 5 high-rise buildings and 2 level-4 ranks with 320 rooms (of which 150 rooms are equipped with cable TV), with closed works, full electricity and water supply for students, school students.

                                        The total number of accommodation is 2800, of which 200 students, 2200 students, graduate students, students and foreign students: 400. The subjects are in dormitories from 01 to 06 according to the regime
                                    </p>
                                    <p>Students admitted to the dorm must adhere to the general regulations of the dormitory.</p>
                                </div>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <div class="panel panel-default text-left">
                                <div class="panel-heading">
                                    <h3> Library</h3>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        The University Library Information Center is located in a four-storey building with an area of ??approximately 5,000 square meters and nearly 1,000 seats with a full range of specialized equipment and furniture suitable for library activities.
                                    </p>

                                    <p>The center has 33 staff (including 07 masters, 26 bachelors) and 8 security and hygiene staff.</p>

                                    <p>The center has 04 main functional rooms: Business Division, Reading Room, Loan Room and Informatics Division.</p>

                                    <p>Business Unit: Performs research, collects, selects, replaces, processes and develops traditional and modern search systems. In addition, this is a place to carry out necessary procedures for readers at the beginning of the course such as: Building a reader's profile of the Center, the procedures for receiving and payment of book money of students upon enrollment and before Upon graduation, handle violations of the rules of reading and payment to the school for readers. The Office is located in rooms 102, 103, 104 - 1st floor of the Center.</p>

                                    <p>Reading Room: A place to organize, store and preserve documents and provide you with readings needed to read on-the-spot with reading rooms (warehouse, warehouse - rooms 301, 302 - 3rd floor). reading rooms, magazines, theses and dissertations (storehouse 401, 4th floor) and newspapers and magazines (open storage - room 203 - floor 2) of the Center.</p>

                                    <p>Borrowing: is a place to organize, store and preserve documents and serve for borrowers to read materials at home within the prescribed time with 2 rooms: borrowing room (room 101 - floor 1) and borrowing room (room 201 - floor 2) of the Center. Students are provided with a schedule of assignments for each department on specific days of the week and the loan term is semester. Reference books are borrowed weekly.</p>

                                    <p>
                                        Computer Science Department: Serving readers, Internet users and multimedia system with electronic resources, located in rooms 402, 403, 404, 405 - 4th floor of the Center.
                                    </p>
                                    <p>
                                        Document:

                                        Up to the end of the second quarter of 2011, the total documented capital of the Center as follows:
                                    </p>
                                    <p>Books: 74,200 titles 347,000 books.</p>
                                    <p>Newspaper: 40 names (Saved from 1980 to present).</p>
                                    <p>Magazine: 935 names = 46,000 copies.</p>
                                    <p>
                                        Theses and dissertations: 10,300 names = 13,000 copies.
                                        Research topic: 2,500 names = 4,500 books.
                                        Proceeding: 319 names = 372 copies.
                                        All kinds of documents such as books, newspapers, magazines, theses, dissertations, scientific studies, etc., of the following languages: English, German, Russian, Chinese ...

                                        Electronic documents include:

                                        Catssette tape: 157 tapes.
                                        Video tape: 87 tapes.
                                        CD-ROM: 1,259 discs.
                                        Databases: English learning software, American Journal of Educational Sciences, Vietnamese journals, Vietnamese and Vietnamese e-Government research databases, online e-journals of the American Institute of Physics (IOP), Royal Society of Chemistry (RSC).

                                        In addition, the Center has built a bibliographic database of 74,735 records for books, theses, dissertations, magazine essays.

                                        Software used in the Center is dedicated software Libol 5.5 of Tinhvan Information Technology Company with 7 modules used as: Add, Catalog, OPAC, Circulation, Readers, Publications and System Management. Read and manage the loan and return documents on the computer, ensure fast, accurate.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <div class="panel panel-default text-left">
                                <div class="panel-heading">
                                    <h3> Internet</h3>
                                </div>
                                <div class="panel-body">
                                    The Internet is widely available throughout the campus, the Library and in the dormitory, including wireless (wi-fi) and wired networks.
                                </div>
                            </div>

                        </div>
                        <div id="menu4" class="tab-pane fade">
                            <div class="panel panel-default text-left">
                                <div class="panel-heading">
                                    <h3> Stadium</h3>
                                </div>
                                <div class="panel-body">
                                    Not only to equip students with the necessary knowledge to practice, the school also pays attention to the comprehensive development of students: Literature - Fine. The stadium is considered one of the largest and most modern stadiums in universities across the country. Not only meet the needs of physical training for students but also the place of cultural activities - sports of the school.
                                </div>
                            </div>

                        </div>
                        <div id="menu5" class="tab-pane fade">
                            <div class="panel panel-default text-left">
                                <div class="panel-heading">
                                    <h3>Gymnasiums</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Some of picture about gymnasiums </p>
                                    <img src="https://i.imgur.com/Y9d6hRy.jpg" width="400px" height="150px" alt="nha thi dau">
                                    <br />
                                    <p></p>
                                    <img src="https://i.imgur.com/zPoYTvF.jpg" width="400px" height="150px" alt="phong tap the duc">
                                    <p></p>
                                    <img src="https://i.imgur.com/xCl0PMT.jpg" width="400px" height="150px" alt="phong tap the duc 2">
                                </div>
                            </div>

                        </div>
                        <div id="menu6" class="tab-pane fade">
                            <div class="panel panel-default text-left">
                                <div class="panel-heading">
                                    <h3>Clinics</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Capmpus Health Station was built right after the campus was established, precursor is only a medical team with the task of health care for staff, lecturers and students of the school.</p>

                                    <p>
                                        At present, the Health Station has 11 staff, including; 3 doctors, 2 doctors, 6 nurses.

                                        With the staff of the above staff, the medical station has carried out a series of tasks assigned by the school, including health care for staffs and students, students in the whole school.

                                    <p>Students entering school:</p>

                                    - Must have health examination as prescribed by the Ministry of Education and Training.


                                    - Should be insured to get compensation when the risk of accident or sickness surgery, hospitalization.

                                    <p>During school:</p>

                                    <p>
                                        - Students are entitled to medical examination and treatment in accordance with the Law on Health Insurance with the following procedures:
                                    </p>
                                    <p>+ Patients who come to the clinic for medical examination and presentation of health insurance card to register for medical treatment at health agency (code 01 - 148) and photo ID (student card, student ID card or ID card people).</p>
                                    <p>
                                        + The medical staff of the station shall conduct the medical examination and diagnosis of the disease: if the patient is capable of treating the station, the patient is given an outpatient treatment by the doctor; In cases beyond the treatment capacity of the station, the patient is transferred to the upper level of treatment (line where the station has the right to transfer).
                                    </p>
                                    <p>
                                        - When you need to leave school to treat your illness, you must go to the school health station for confirmation of the reason for a valid stay. If you need medical examination, you must show the medical certificate. there.

                                        Students before graduation: Must have medical examination at the school's Health Station according to the informed schedule.

                                        The medical station always sends emergency medical personnel 24 hours a day to provide emergency assistance when there are emergency patients.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            
        
            <div class="col-md-2 col-sm-2">

                @RenderBody()
                

            </div>
        
            </div>
        </div>

           

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>