@model Online_Help_Desk.Models.Request
@{
    ViewBag.Title = "EnduserRequest";
    Layout = "~/Views/Shared/_LayoutIndexEndUser.cshtml";
}
<div class="col-md-4 col-sm-4 well">
    <ul class="nav nav-stacked nav-pills well">
        <li class="active"><a data-toggle="pill" href="#menu1">Create Request</a></li>
        <li><a data-toggle="pill" href="#menu2">My Request</a></li>
       
    </ul>
</div>
<div class="col-md-8 col-sm-8">
    <div class="tab-content">
        @{ Html.RenderPartial("_CreateRequest");}
        @{ Html.RenderPartial("EURequestList")}
        </div>
    </div>


